# 1

In [ ]:
age_range = [ ]

age = 0
while age != "quit":
    age = int(input("Enter your age: "))
    if age < 3:
        print("The entry fee is FREE for you.")
    elif 3 <= age < 12:
        print("The entry fee is $14 for you.")
    elif age >= 65:
        print("The entry fee is $18 for you.")
    elif 13 <= age < 65:
        print("Your fee is $23")

Enter your age: 0
The entry fee is FREE for you.

# 2

In [54]:
retail = [4.95, 9.95, 14.95, 19.95, 24.95]

for i in retail:
        disc = (i * 60/100)
        disc_price = round((i- i * 60/100), 4)
        new_price = (retail, disc, disc_price)
        print(new_price)

([4.95, 9.95, 14.95, 19.95, 24.95], 2.97, 1.98)
([4.95, 9.95, 14.95, 19.95, 24.95], 5.97, 3.98)
([4.95, 9.95, 14.95, 19.95, 24.95], 8.97, 5.98)
([4.95, 9.95, 14.95, 19.95, 24.95], 11.97, 7.98)
([4.95, 9.95, 14.95, 19.95, 24.95], 14.97, 9.98)

In [62]:
retail = [4.95, 9.95, 14.95, 19.95, 24.95]

for i in retail:
        disc = (i * 60/100)
        disc_price = round((i- i * 60/100), )
        new_price = (retail, disc, disc_price)
        print(new_price)

TypeError: 'float' object cannot be interpreted as an integer

# 3

In [2]:
lst=[10, 99, 98, 85, 22, 34, 78, 98, 12, 35, 13, 100, 80, 95]

i = 0
while i < len(lst):
    if lst[i] == 100:
        print("There is a 100 at index no: " + str(i))
    i = i+1

There is a 100 at index no: 11

# 4

In [10]:
a = 40
b = 20
c = 2

for x in range(a,b):
    
    if x % c == 0:
        
          print(x)
        
    else:
          pass

I dont know why there is no output.

# 5

In [3]:
names = []

while len(names) < 3:
    user_input = input("Enter name: ")
    names.append(user_input)
    print(names)

Enter name: Amanda
['Amanda']
Enter name:  Muna
['Amanda', ' Muna']
Enter name:  Zina
['Amanda', ' Muna', ' Zina']

#  6

In [28]:
string = "Python"

for elem in string:
    if elem == "o":
        break
    print(elem)

P
y
t
h

# 7

In [10]:
sum = 0.0
count = 0
while(1):
    x=int(input("Enter Values: "))
    if x == 0:
        print("End of input.")
        break;
    sum+=x;
    count+=1;
if count == 0:
    print("No input given")
else:
    avg = sum/count;
    print("Average is - ",avg)

Enter Values: 0
End of input.
No input given